@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding: 0 calc(50% - 600px);
}

@media (max-width: 1200px) {
  .center {
    padding: 0 calc(50% - 393px);
  }
}
@media (max-width: 834px) {
  .center {
    padding: 0 24px;
  }
}
@media (max-width: 768px) {
  .center {
    padding: 0 16px;
  }
}
.top {
  height: 100vh;
  width: 100%;
  background-image: url(../img/header_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.top__content {
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.top__heading {
  max-width: 760px;
}
.top__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 133%;
  color: #fff;
  max-width: 760px;
}
.top__link {
  color: #fff;
}

.heading {
  font-size: 4rem;
  font-weight: 600;
  line-height: 109%;
  color: #fff;
  font-style: normal;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.header__search {
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  height: 41px;
  width: 288px;
  outline: none;
  background: transparent;
  padding: 0 32px;
  color: #fff;
}
.header__search::-moz-placeholder {
  color: #fff;
}
.header__search:-ms-input-placeholder {
  color: #fff;
}
.header__search::placeholder {
  color: #fff;
}
.header__links {
  display: flex;
  gap: 32px;
}
.header__link {
  color: #fff;
  text-decoration: none;
}
.header__link:hover {
  text-decoration: underline;
}
.header__mob {
  display: none;
}

@media (max-width: 768px) {
  .header__search {
    display: none;
  }
  .header__links {
    display: none;
  }
  .header__mob {
    display: flex;
    gap: 34px;
  }
  .top__content {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .top__heading {
    min-width: 343px;
    font-size: 3rem;
  }
  .top__text {
    min-width: 343px;
  }
  .top__link {
    font-size: 0.875rem;
  }
}
.for {
  padding-top: 64px;
  padding-bottom: 32px;
}
.for__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 32px;
}
.for__box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.for__item {
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 41px;
  color: #fff;
  height: 415px;
  text-decoration: none;
  text-transform: uppercase;
  grid-column: 4 span;
  display: flex;
  justify-content: center;
  align-items: center;
}
.for__item_big {
  grid-column: 6 span;
}
.for__item_1 {
  background-image: url(../img/for_1.jpg);
  background-position: center;
  background-size: cover;
}
.for__item_2 {
  background-image: url(../img/for_2.jpg);
  background-position: center;
  background-size: cover;
}
.for__item_3 {
  background-image: url(../img/for_3.jpg);
  background-position: center;
  background-size: cover;
}
.for__item_4 {
  background-image: url(../img/for_4.jpg);
  background-position: center;
  background-size: cover;
}
.for__item_5 {
  background-image: url(../img/for_5.jpg);
  background-position: center;
  background-size: cover;
}

@media (max-width: 1024px) {
  .for__box {
    gap: 30px;
  }
  .for__item {
    height: 268px;
  }
}
@media (max-width: 768px) {
  .for {
    padding-top: 32px;
    padding-bottom: 16px;
  }
  .for__heading {
    font-size: 1.5rem;
  }
  .for__box {
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
  }
  .for__item {
    height: 375px;
    font-size: 1.75rem;
  }
  .for__item_big {
    height: 244px;
    grid-column: 4 span;
  }
}/*# sourceMappingURL=main.css.map */