@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding: 0 calc(50% - 600px);
}

@media (max-width: 1200px) {
  .center {
    padding: 0 calc(50% - 393px);
  }
}
@media (max-width: 834px) {
  .center {
    padding: 0 24px;
  }
}
@media (max-width: 768px) {
  .center {
    padding: 0 16px;
  }
}
.top {
  height: 400px;
  width: 100%;
}
.top__head {
  background-image: url(../img/header_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.top__catalog {
  background-image: url(../img/catalog_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.top__cart {
  background-image: url(../img/cart_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.top__content {
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.top__content_catalog {
  height: calc(100% - 70px);
  display: flex;
  align-items: center;
}
.top__heading {
  max-width: 760px;
}
.top__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 133%;
  color: #fff;
  max-width: 760px;
}
.top__link {
  color: #fff;
}

.heading {
  font-size: 4rem;
  font-weight: 600;
  line-height: 109%;
  color: #fff;
  font-style: normal;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
.header__logo {
  width: 193px;
}
.header__logo img {
  width: 100%;
}
.header__search {
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  height: 41px;
  width: 288px;
  outline: none;
  background: transparent;
  padding: 0 32px;
  color: #fff;
}
.header__search::-moz-placeholder {
  color: #fff;
}
.header__search:-ms-input-placeholder {
  color: #fff;
}
.header__search::placeholder {
  color: #fff;
}
.header__links {
  display: flex;
  gap: 32px;
}
.header__link {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s;
}
.header__link:hover {
  text-decoration: underline;
}
.header__mob {
  display: none;
}

@media (max-width: 768px) {
  .header__logo {
    width: 99px;
  }
  .header__search {
    display: none;
  }
  .header__links {
    display: none;
  }
  .header__mob {
    display: flex;
    gap: 34px;
  }
  .header__mob__link:hover {
    fill: #000;
  }
  .top__content {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .top__heading {
    min-width: 343px;
    font-size: 3rem;
  }
  .top__text {
    min-width: 343px;
  }
  .top__link {
    font-size: 0.875rem;
  }
}
.for {
  padding-top: 64px;
  padding-bottom: 32px;
}
.for__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 59px;
  margin-bottom: 32px;
}
.for__box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.for__item {
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 41px;
  color: #fff;
  height: 415px;
  text-decoration: none;
  text-transform: uppercase;
  grid-column: 4 span;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.for__item:hover {
  transform: scale(1.2);
}
.for__item_big {
  grid-column: 6 span;
}
.for__item_1 {
  background-image: url(../img/for_1.jpg);
  background-position: center;
  background-size: cover;
}
.for__item_2 {
  background-image: url(../img/for_2.jpg);
  background-position: center;
  background-size: cover;
}
.for__item_3 {
  background-image: url(../img/for_3.jpg);
  background-position: center;
  background-size: cover;
}
.for__item_4 {
  background-image: url(../img/for_4.jpg);
  background-position: center;
  background-size: cover;
}
.for__item_5 {
  background-image: url(../img/for_5.jpg);
  background-position: center;
  background-size: cover;
}

@media (max-width: 1024px) {
  .for__box {
    gap: 30px;
  }
  .for__item {
    height: 268px;
  }
}
@media (max-width: 768px) {
  .for {
    padding-top: 32px;
    padding-bottom: 16px;
  }
  .for__heading {
    font-size: 1.5rem;
  }
  .for__box {
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
  }
  .for__item {
    height: 375px;
    font-size: 1.75rem;
  }
  .for__item_big {
    height: 244px;
    grid-column: 4 span;
  }
}
.sale {
  padding-top: 32px;
  padding-bottom: 32px;
}
.sale__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  margin-bottom: 32px;
}

.product {
  padding-top: 32px;
  padding-bottom: 64px;
}
.product__head {
  font-weight: 600;
  font-size: 3rem;
  line-height: 59px;
  margin-bottom: 32px;
}
.product__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 56px;
}
.product__item {
  width: 379px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  transition: all 0.3s;
  position: relative;
}
.product__item:hover {
  transform: scale(1.05);
  border: 0.5px solid #888;
}
.product__item:hover .product__icons {
  opacity: 1;
}
.product__icons {
  position: absolute;
  right: 27px;
  top: 27px;
  display: flex;
  gap: 26px;
  opacity: 0;
  transition: all 0.3s;
}
.product__heading {
  color: #000;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
}
.product__text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
  color: #888888;
}
.product__img {
  width: 100%;
}
.product__price {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
}
.product__price_box {
  display: flex;
  gap: 32px;
}
.product__price_sale {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
}

.link {
  color: #000;
}
.link__catalog {
  padding-top: 39px;
}

@media (max-width: 1024px) {
  .product__box {
    row-gap: 39px;
  }
}
@media (min-width: 768px) and (max-width: 835px) {
  .product__item {
    width: 350px;
  }
}
@media (max-width: 768px) {
  .product {
    padding-top: 16px;
    padding-bottom: 32px;
  }
  .product__head {
    font-size: 1.5rem;
    line-height: 29px;
  }
  .product__box {
    justify-content: center;
    gap: 33px;
  }
  .product__item {
    max-width: 379px;
  }
  .product__heading {
    font-size: 1.125rem;
    line-height: 22px;
  }
  .product__text {
    font-size: 0.875rem;
    line-height: 17px;
  }
  .product__price {
    font-size: 1.125rem;
    line-height: 22px;
  }
  .sale {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .sale__heading {
    font-size: 1.5rem;
    line-height: 29px;
  }
  .link__catalog .link {
    display: block;
    text-align: center;
  }
}
.footer {
  background: #F7F6F6;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 40px;
}
.footer__content {
  display: flex;
  gap: 129px;
}
.footer__heading {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 29px;
}
.footer__nav {
  margin-top: 12px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__link {
  text-decoration: none;
  color: #888888;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 17px;
}
.footer .link {
  transition: all 0.3s;
}
.footer .link:hover {
  text-decoration: underline;
}
.footer__icons {
  display: flex;
  gap: 23px;
}
.footer__icon {
  transition: fill 0.3s;
}
.footer__icon:hover {
  fill: #000;
}
.footer__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__form__text {
  margin-bottom: 4px;
  font-size: 0.75rem;
  line-height: 15px;
}
.footer__form__input {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  height: 46px;
  width: 275px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  outline: none;
}
.footer__form__btn {
  width: 275px;
  height: 46px;
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  font-weight: 400;
  font-size: 0.875rem;
  cursor: pointer;
  line-height: 17px;
  transition: all 0.3s;
}
.footer__form__btn:hover {
  background: #000;
  color: #fff;
}

@media (max-width: 1200px) {
  .footer__logo {
    display: none;
  }
}
@media (max-width: 768px) {
  .footer {
    justify-content: center;
    gap: 35px;
  }
  .footer__icons {
    justify-content: center;
  }
}
.catalog {
  padding-top: 64px;
}
.catalog__bread {
  margin-bottom: 41px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 1rem;
}

ul.breadcrumb li + li:before {
  padding: 10px;
  color: black;
  content: "/ ";
}

ul.breadcrumb li a {
  color: #000;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  text-decoration: underline;
}

.select_box {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
}
.select_box select {
  grid-area: select;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 288px;
  height: 41px;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 1rem;
}
.select_box:after {
  margin: 15px 22px 15px 0;
  grid-area: select;
  content: "";
  width: 20px;
  height: 11px;
  background-color: #000;
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
          clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

@media (max-width: 768px) {
  .catalog {
    padding-top: 32px;
  }
  .catalog__bread {
    margin-bottom: 32px;
    row-gap: 16px;
  }
  ul.breadcrumb li {
    font-size: 0.875rem;
  }
  .select select {
    font-size: 0.875rem;
  }
}
@-webkit-keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
.cart {
  padding-top: 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.cart__box {
  grid-column: 8 span;
}
.cart__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.cart__header_title {
  font-size: 1rem;
  line-height: 20px;
}
.cart__item {
  border-top: 0.5px solid #CACDD8;
  display: flex;
  padding: 32px 0;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__item_box {
  display: flex;
  justify-content: space-between;
  gap: 31px;
}
.cart__item_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.cart__item_heading {
  font-size: 1.5rem;
  font-weight: 500;
}
.cart__item_descr {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
  color: #888888;
  width: 276px;
}
.cart__item_price {
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
}
.cart__item_link {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 210%;
  color: #000;
}
.cart__item_links {
  display: flex;
  gap: 30px;
}
.cart__input {
  width: 71px;
  height: 51px;
  background: #F7F6F6;
  border-radius: 6px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
}
.cart__input_box {
  position: relative;
}
.cart__order {
  background: #F7F6F6;
  border-radius: 20px;
  grid-column: 4 span;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cart__order_heading {
  margin-top: 42px;
  margin-bottom: 35px;
}
.cart__order_input {
  width: 288px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #CACDD8;
}
.cart__order_input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.cart__order_input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.cart__order_input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.cart__order_inputbox {
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.cart__order_sum {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.cart__order_sumbox {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 18px;
}
.cart__order_sum span {
  font-weight: 500;
}
.cart__order_btn {
  width: 290px;
  padding: 10px 0;
  border: 1px solid #000;
  border-radius: 50px;
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
  margin-bottom: 148px;
}
.cart__order_btn:hover {
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
  color: #fff;
  background-color: #000;
}
.cart__btn {
  width: 200px;
  display: block;
  border: 1px solid #000;
  padding: 10px 0;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 17px;
  color: #000;
  border-radius: 50px;
  transition: all 0.3s;
}
.cart__btn:hover {
  color: #fff;
  background: #000;
}
.cart__btnbox {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.link__cart {
  margin: 32px 0 64px;
}

.btn {
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btn__box {
  position: absolute;
  bottom: 10px;
  right: 15px;
}
.btn_down {
  transform: rotate(180deg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

@media (max-width: 1200px) {
  .cart {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (max-width: 768px) {
  .cart {
    grid-template-columns: repeat(4, 1fr);
    gap: 48px;
  }
  .cart__header {
    display: none;
  }
  .cart__box {
    margin-top: 92px;
    grid-column: 4 span;
  }
  .cart__item {
    padding: 18px 0 24px;
  }
  .cart__item_img {
    display: none;
  }
  .cart__item_heading {
    font-size: 1.125rem;
  }
  .cart__item_descr {
    font-size: 0.75rem;
  }
  .cart__item_price {
    font-size: 0.75rem;
  }
  .cart__btn {
    font-size: 0.75rem;
  }
  .link__cart {
    text-align: center;
    margin: 32px 0;
  }
}/*# sourceMappingURL=main.css.map */