.for
    padding-top: 64px
    padding-bottom: 32px
    &__heading
        font-style: normal
        font-weight: 600
        font-size: 3rem
        line-height: 59px
        margin-bottom: 32px
    &__box
        display: grid
        grid-template-columns: repeat(12, 1fr)
        gap: 32px
    &__item
        font-size: 2.125rem
        font-weight: 600
        line-height: 41px
        color: #fff
        height: 415px
        text-decoration: none
        text-transform: uppercase
        grid-column: 4 span
        display: flex
        justify-content: center
        align-items: center
        transition: all 0.5s
        &:hover
            transform: scale(1.2)
        &_big
            grid-column: 6 span
        &_1
            background-image: url(../img/for_1.jpg)
            background-position: center
            background-size: cover

        &_2
            background-image: url(../img/for_2.jpg)
            background-position: center
            background-size: cover
        &_3
            background-image: url(../img/for_3.jpg)
            background-position: center
            background-size: cover
        &_4
            background-image: url(../img/for_4.jpg)
            background-position: center
            background-size: cover
        &_5
            background-image: url(../img/for_5.jpg)
            background-position: center
            background-size: cover

@media (max-width: 1024px)
    .for
        &__box
            gap: 30px
        &__item
            height: 268px

@media (max-width: 768px)
    .for
        padding-top: 32px
        padding-bottom: 16px
        &__heading
            font-size: 1.5rem
        &__box
            gap: 16px
            grid-template-columns: repeat(4, 1fr)
        &__item
            height: 375px
            font-size: 1.75rem
            &_big
                height: 244px
                grid-column: 4 span
